*.json
*.xlsx
*.pbix
*.log
*.xml
*.iml
*.csv
!provincias.csv
*.zip
*.cfg
*.yml
.idea/
venv/
.ipynb_checkpoints/
selenium_driver/
venv/
_pycache_/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
.env
.DS_Store
.idea/
.vscode/
boe/*